<div class="login-form-container clearfix">
  
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  
  <div class="login-form">
    <%= form_tag "/create_login_session" do %>
      <dl class="form">
        <dt>
          <%= label_tag "User Email" %>
        </dt>
        <dd>
          <%= text_field_tag :email, params[:email] %>
        </dd>
      </dl>
      <dl class="form">
        <dt>
          <%= label_tag "Password" %>
        </dt>
        <dd>
          <%= password_field_tag :password, params[:password] %>
        </dd>
      </dl>
      <p> <%= submit_tag "Login", :class => "login-button btn btn-primary" %> </p>
      <div class="need-signup">
        <%= link_to "No account?Sign Up Now", signup_path %>
      </div>
      <div class="need-signup">
        <%= link_to image_tag("facebook.png", width:'40',height:'40'),'/auth/facebook'%>Log In With Facebook
      </div>
    <% end %>
  </div>
</div>