<div class="container">
<p id="notice"><%= notice %></p>

<h1>My Exercise progress</h1>

<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th>WorkingTimes</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% records.each do |record| %>
      <tr>

        <td><%= record.plan %></td>
        <td><%= record.time %></td>
        <td>Posted <%= time_ago_in_words(record.created_at) %> ago</td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>