<div class="container">
  <h2>Schedule</h2>
  <%= Time.now.strftime("%d/%m/%Y %H:%M") %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Week</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Satday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody1>
      <tr>
         <th>Plans</th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
         <th><select >
             <option value="1" selected="selected">None</option>
             <option value="2">Aerobic</option>
             <option value="3">Anaerobic</option>
             <option value="4">Myplan1</option>
             <option value="5">Myplan2</option>
         </select></th>
      </tr>

    </tbody1>

    <tbody2>
      <tr>
         <th>Time</th>
         <th>
             <input id="Monday" type="text" size="8" value="">
         </th>

         <th>
             <input id="Tuesday" type="text" size="8" value="">
         </th>

         <th>
             <input id="Wednesday" type="text" size="8" value="">
         </th>

         <th>
             <input id="Thursday" type="text" size="8" value="">
         </th>

         <th>
             <input id="Friday" type="text" size="8" value="">
         </th>

         <th>
             <input id="Saturday" type="text" size="8" value="">
         </th>

         <th>
             <input id="Sunday" type="text" size="8" value="">
         </th>

      </tr>

    </tbody2>
  </table>
</div>

<div class="container">
<%= render :partial =>"record_list", :locals=>{:records=>Record.all} %>
<%= render :partial =>"new_record", :locals=>{:record=>Record.new} %>
</div>

<div class="container">
  <h2>SMS Notification</h2>
  <p><small>Note: For testing purposes only, will refactor into schedules. Number must be added into the api due to free account. (send kevin your phone number)</small></p>
  <%= form_tag('/send_sms', method: 'POST') do %>
    <span>Enter number:</span>
    <input type="text" placeholder="ex. 6041234567" name="number">
    <br>
    <span>Enter message:</span> 
    <input type="text" placeholder="message" name="message">
    <br>
    <button type="submit">Send</button>
  <% end %>
</div>
