<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plan %><br>
    <%= f.text_field :plan %>
  </div>
  
   <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
