<p id="notice"><%= notice %></p>

<p>
  <strong>Record:</strong>
  <%= @record.record_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @record.time %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @record.plan %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', schedule_path %>
