<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Schedule Calendar</h1>
  
  <%= link_to 'New Event', new_event_path %>
  
  <script>
    $(document).ready(function() {
  
      // page is now ready, initialize the calendar...
  
      $('#calendar').fullCalendar({
          // put your options and callbacks here
          events: '/events.json'
      })
  
  });
  </script>
  
  <div id="calendar"></div>
  
</div>