<div class="container">
  
  <h1>Schedule Events</h1>
  
  <table>
    <col width="100">
    <col width="250">
    <col width="200">
    <col width="200">
    <col width="40">
    <col width="60">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @events.each do |event| %>
        <tr class="lineColor">
          <td><%= event.title %></td>
          <td><%= event.description %></td>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>

  <%= button_to "New Event", new_event_path, :method => :get, class: "btn btn-default button" %>
  <button id="show_whatever" class="btn btn-default">Show Calendar</button>
</div>

<div class="container">
  <br>
  <div id="whatever">
    <div id="calendar"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        // put your options and callbacks here
        events: '/events.json'
    })
  });
</script>

<script>
  $(function() {
    $("div#whatever").hide();
    $('button#show_whatever').click(function(event){
      event.preventDefault();
      $('div#whatever').toggle();
      $('#calendar').fullCalendar('refetchEvents');
    });
  });   
</script>