<div class="container">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
  
  <p>
    <strong>Start time:</strong>
    <%= @event.start_time %>
  </p>
  
  <p>
    <strong>End time:</strong>
    <%= @event.end_time %>
  </p>
  
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
