

<style>
#Maintenance{
     width: 100%;
  height: 50px;
    background-color: MediumSeaGreen ;
}

#lose1lb{
     width: 100%;
  height: 50px;
    background-color: SkyBlue ;
}

#lose2lb{
     width: 100%;
  height: 50px;
    background-color: Salmon ;
}

#gain1lb{
     width: 100%;
  height: 50px;
    background-color: Maroon ;
}

#gain2lb {
     width: 100%;
  height: 50px;
  background-color: Indigo;
}
p1,p2,p3,p4{
    color: FireBrick;
    font-size: 15px;
    padding: 30px;
}

#info{
    text-align: center;
}
</style>

<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

<script src="index.js"> </script>

<div class="container">

<h1 style = "color: CornflowerBlue; 
    font-size: 50px;
    padding: 20px;">Calorie Calculator</h1>


  <p1>Tired of inputting your information over and over again? </p1>
  <br><p2>We made it easy for you!</p2> 
  <br><p3>Now you only have to input your information once and we will store it for you!</p3>
  <br><br><p4><u>Reminder: It is recommended to re-enter your information for every 5 pounds you gain / lose for the most accurate result:)</u></p4>
 
<br><br><%= link_to "Click here to enter your information!", new_body_info_path,{:style=>'color:PaleVioletRed;  margin-left: 30px;', :class => "css_class"} %>

</div>

<div id = "info">

<h2 style ="color: CadetBlue ; text-align: center; font-size: 25px;">Age</h2>
<input type="number" id="age" placeholder="Your age"><br>

<h3 style ="color: CadetBlue ; text-align: center; font-size: 25px;">Gender</h3>

<input type="radio" id = "gender1" name="gender" value="male" checked> Male<br>
<input type="radio" id = "gender2" name="gender" value="female"> Female<br>


 <h4 style ="color: CadetBlue ; text-align: center; font-size: 25px;">Height</h4>
<input type = "number" id="feet" placeholder="Feet" > Feet
<input type = "number" id="inches" placeholder="Inches" > Inches <br><p style = "font-size: 20px; margin: 10px" >
  or</p>
<input type = "number" id="cm" placeholder="Centimeters"  > Centimeters

 <h5 style ="color: CadetBlue ; text-align: center; font-size: 25px;">Weight</h5>
<input type = "number" id="pound" placeholder="pounds"> Pounds <br><p style = "font-size: 20px; margin: 10px" >
  or</p>
<input type = "number" id="kg" placeholder="KG"> KG

<h6 style ="color: CadetBlue ; text-align: center; font-size: 25px;">Activity Level</h6>
<input type="radio" id = "exercise_level1" name="exercise_level" value="Little to no exercise" checked> Little to no exercise :( <br>
<input type="radio" id = "exercise_level2" name="exercise_level" value="3 times a week" > 3 times a week <br>
<input type="radio" id = "exercise_level3" name="exercise_level" value="4 times a week" > 4 times a week <br>
<input type="radio" id = "exercise_level4" name="exercise_level" value="5 times a week" > 5 times a week<br>
<input type="radio" id = "exercise_level5" name="exercise_level" value="Daily" > Daily <br>

<input type="submit" onclick="calculate()" value="Calculate!"> <br>
</div>

  <h7 style = "color:DarkRed; font-size: 30px; margin-bottom: 50px">Result</h7>
 
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%" >
       <div id = "Maintenance"> <div id="label">To maintain your current weight:</div>  </div>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
      <div id = "lose1lb"> <div id="label">To lose 1 pound (0.45kg) per week:</div>  </div>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
      <div id = "lose2lb"> <div id="label">To lose 2 pound (0.9kg) per week:</div>  </div>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
      <div id = "gain1lb"> <div id="label">To gain 1 pound (0.45kg) per month:</div>  </div>
    </div>
    </div>
    <div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      <div id = "gain2lb"> <div id="label">To gain 2 pound (0.9kg) per month:</div>  </div>
    </div>
  </div>

<br><br>
    <h8 style = "color:MediumAquaMarine; font-size: 35px;">Custom Meal</h8>
    <br><br><br>
    <h9 style = "color:MediumAquaMarine; font-size: 25px;">Choose a goal</h9>
    <br>
    <select id="goal" onchange="meal()"> 
    <option value=""></option>
    <option value="Maintain">Maintain your current weight</option>
    <option value="Loseone">Lose one pound per week</option>
    <option value="Losetwo">Lose two pounds per week</option>
    <option  value="Gainone">Gain one pound per month (Lean Bulk)</option>
    <option  value="Gaintwo">Gain two pounds per month (Lean Bulk)</option>
    </select>
    <br><br><br>
    <h style = "color:MediumAquaMarine; font-size: 25px;">Meals per day</h><br>
    <select id="meals" onchange="meal()">
    <option value="3">3 meals a day</option>
    <option value="4">4 meals a day</option>
    <option value="5">5 meals a day</option>
    <option value="6">6 meals a day</option>
    </select>
    <br><br><br>
    
    <h10 style = "color:MediumAquaMarine; font-size: 25px;">Macro nutrient Ratios (If you don't know what it is for now just use the recommended value)</h10>
    <br><br>
    <p style = " color: FireBrick; font-size: 15px; padding: 10px;">For lean bulk, it is recommended to use the 40% proteins / 40% carbs / 20% fats ratio</p>
    <p style = " color: FireBrick; font-size: 15px; padding: 10px;">For weight loss, it is recommended to use the 45% proteins / 30% carbs / 20% fats raio</p>
    <select id="protein" onchange="meal()">
    <option value="15">15% protein</option>
    <option value="20">20% protein</option>
    <option value="25">25% protein</option>
    <option value="30">30% protein</option>
    <option value="35">35% protein</option>
    <option selected = "yes" value="40">40% protein</option>
    <option value="45">45% protein</option>
    <option value="50">50% protein</option>
    <option value="55">55% protein</option>
    <option value="60">60% protein</option>
    <option value="65">65% protein</option>
    </select>
    <br>
    <select id="carb" onchange="meal()">
   <option value="15">15% carb</option>
    <option value="20">20% carb</option>
    <option value="25">25% carb</option>
    <option value="30">30% carb</option>
    <option value="35">35% carb</option>
    <option selected = "yes" value="40">40% carb</option>
    <option value="45">45% carb</option>
    <option value="50">50% carb</option>
    <option value="55">55% carb</option>
    <option value="60">60% carb</option>
    <option value="65">65% carb</option>
    </select>
    <br>
    <select id="fat" onchange="meal()">
    <option value="10">10% fat</option>
    <option value="15">15% fat</option>
    <option selected = "yes" value="20">20% fat</option>
    <option value="25">25% fat</option>
    <option value="30">30% fat</option>
    <option value="35">35% fat</option>
    <option value="40">40% fat</option>
    <option value="45">45% fat</option>
    <option value="50">50% fat</option>
    </select>
    
    <script>
    function meal(){
      var goal = document.getElementById("goal").value;
      var numberOfMeal = document.getElementById("meals").value;
      numberOfMeal = parseInt(numberOfMeal);
      var proteinMarco =  parseInt(document.getElementById("protein").value);
      var carbMarco = parseInt(document.getElementById("carb").value);
      var fatMarco = parseInt(document.getElementById("fat").value);
      if (proteinMarco + carbMarco + fatMarco != 100){
          alert("Your marco numbers have to add up to 100%!");
          document.getElementById("caloriesperday").value = "";
          document.getElementById("caloriespermeal").value = "";
          document.getElementById("mealperday").value = "";
          document.getElementById("proteinPerMeal").value = "";
          document.getElementById("carbPerMeal").value = "";
          document.getElementById("fatPerMeal").value = "";
          document.getElementById("proteinsource").value = "";
          document.getElementById("vegsource").value = "";
          document.getElementById("carbsource").value = "";
          document.getElementById("fatsource").value = "";
      }else{
      var maintain = calculate();
      if (maintain == undefined){
        document.getElementById("caloriesperday").value ="";
          document.getElementById("caloriespermeal").value ="";
          document.getElementById("mealperday").value ="";
          document.getElementById("proteinPerMeal").value = "";
          document.getElementById("carbPerMeal").value = "";
          document.getElementById("fatPerMeal").value = "";
          document.getElementById("proteinsource").value = "";
          document.getElementById("vegsource").value = "";
          document.getElementById("carbsource").value = "";
          document.getElementById("fatsource").value = "";
      }else{
      if (goal == ""){
          alert("You must choose a goal!");
          document.getElementById("caloriesperday").value ="";
          document.getElementById("caloriespermeal").value ="";
          document.getElementById("mealperday").value ="";
          document.getElementById("proteinPerMeal").value = "";
          document.getElementById("carbPerMeal").value = "";
          document.getElementById("fatPerMeal").value = "";
           document.getElementById("proteinsource").value = "";
          document.getElementById("vegsource").value = "";
          document.getElementById("carbsource").value = "";
          document.getElementById("fatsource").value = ""
      }
      if (goal == "Maintain"){
          var proteinMarco =  parseInt(document.getElementById("protein").value)/100;
          var carbMarco = parseInt(document.getElementById("carb").value)/100;
          var fatMarco = parseInt(document.getElementById("fat").value)/100;
          var proteinCal = parseInt((maintain*proteinMarco)/numberOfMeal);
          var carbCal = parseInt((maintain*carbMarco)/numberOfMeal);
          var fatCal = parseInt((maintain*fatMarco)/numberOfMeal);
          var chicken = parseInt(proteinCal*(113/187));
          var broccoli = parseInt((carbCal*0.3)*(100/34)); 
          var brownRice = parseInt((carbCal*0.7)*(100/111));
          var nuts = parseInt(fatCal*(100/533));
          document.getElementById("caloriesperday").value = parseInt(maintain);
          document.getElementById("caloriespermeal").value = parseInt(maintain/numberOfMeal);
          document.getElementById("mealperday").value = numberOfMeal;
          document.getElementById("proteinPerMeal").value = parseInt (((maintain*proteinMarco)/4)/numberOfMeal) + "g";
          document.getElementById("carbPerMeal").value = parseInt (((maintain*carbMarco)/4)/numberOfMeal) + "g";
          document.getElementById("fatPerMeal").value = parseInt (((maintain*fatMarco)/9)/numberOfMeal) + "g";
          document.getElementById("proteinsource").value = chicken + "g";
          document.getElementById("vegsource").value = broccoli + "g";
          document.getElementById("carbsource").value = brownRice + "g";
          document.getElementById("fatsource").value = nuts + "g";
          document.getElementById("projectedResult").value = "gain/lose";
          document.getElementById("poundsPerWeek").value = 0;
          document.getElementById("poundsPerMonth").value = 0;
          document.getElementById("poundsPerYear").value = 0;
          document.getElementById("kgPerWeek").value =0;
          document.getElementById("kgPerMonth").value = 0;
          document.getElementById("kgPerYear").value = 0;
      }
      if (goal =="Loseone"){
          var cal =  parseInt(loseOnePoundPerWeek(maintain));
          var proteinMarco =  parseInt(document.getElementById("protein").value)/100;
          var carbMarco = parseInt(document.getElementById("carb").value)/100;
          var fatMarco = parseInt(document.getElementById("fat").value)/100;
           var proteinCal = parseInt((cal*proteinMarco)/numberOfMeal);
          var carbCal = parseInt((cal*carbMarco)/numberOfMeal);
          var fatCal = parseInt((cal*fatMarco)/numberOfMeal);
          var chicken = parseInt(proteinCal*(113/187));
          var broccoli = parseInt((carbCal*0.3)*(100/34)); 
          var brownRice = parseInt((carbCal*0.7)*(100/111));
          var nuts = parseInt(fatCal*(100/533));
          document.getElementById("projectedResult").value = "lose";
          document.getElementById("caloriesperday").value = cal;
          document.getElementById("caloriespermeal").value = parseInt(cal/numberOfMeal);
          document.getElementById("mealperday").value = numberOfMeal;
          document.getElementById("proteinPerMeal").value = parseInt (((cal*proteinMarco)/4)/numberOfMeal) + "g";
          document.getElementById("carbPerMeal").value = parseInt (((cal*carbMarco)/4)/numberOfMeal) + "g";
          document.getElementById("fatPerMeal").value = parseInt (((cal*fatMarco)/9)/numberOfMeal) + "g";
           document.getElementById("proteinsource").value = chicken + "g";
          document.getElementById("vegsource").value = broccoli + "g";
          document.getElementById("carbsource").value = brownRice + "g";
          document.getElementById("fatsource").value = nuts + "g";
          document.getElementById("poundsPerWeek").value = 1;
          document.getElementById("poundsPerMonth").value = 4;
          document.getElementById("poundsPerYear").value = 48;
          document.getElementById("kgPerWeek").value =0.45;
          document.getElementById("kgPerMonth").value = 1.8;
          document.getElementById("kgPerYear").value = 21.6;
      }
      if (goal == "Losetwo"){
          var cal =  parseInt(loseTwoPoundPerWeek(maintain));
          var proteinMarco =  parseInt(document.getElementById("protein").value)/100;
          var carbMarco = parseInt(document.getElementById("carb").value)/100;
          var fatMarco = parseInt(document.getElementById("fat").value)/100;
          var proteinCal = parseInt((cal*proteinMarco)/numberOfMeal);
          var carbCal = parseInt((cal*carbMarco)/numberOfMeal);
          var fatCal = parseInt((cal*fatMarco)/numberOfMeal);
          var chicken = parseInt(proteinCal*(113/187));
          var broccoli = parseInt((carbCal*0.3)*(100/34)); 
          var brownRice = parseInt((carbCal*0.7)*(100/111));
          var nuts = parseInt(fatCal*(100/533));
          document.getElementById("projectedResult").value = "lose";
          document.getElementById("caloriesperday").value = cal;
          document.getElementById("caloriespermeal").value = parseInt(cal/numberOfMeal);
          document.getElementById("mealperday").value = numberOfMeal;
          document.getElementById("proteinPerMeal").value = parseInt (((cal*proteinMarco)/4)/numberOfMeal) + "g";
          document.getElementById("carbPerMeal").value = parseInt (((cal*carbMarco)/4)/numberOfMeal) + "g";
          document.getElementById("fatPerMeal").value = parseInt (((cal*fatMarco)/9)/numberOfMeal) + "g";
           document.getElementById("proteinsource").value = chicken + "g";
          document.getElementById("vegsource").value = broccoli + "g";
          document.getElementById("carbsource").value = brownRice + "g";
          document.getElementById("fatsource").value = nuts + "g";
          document.getElementById("poundsPerWeek").value = 2;
          document.getElementById("poundsPerMonth").value = 8;
          document.getElementById("poundsPerYear").value = 96;
          document.getElementById("kgPerWeek").value =0.9;
          document.getElementById("kgPerMonth").value = 3.6;
          document.getElementById("kgPerYear").value = 43.2;
      }
      if (goal == "Gainone"){
          var cal = parseInt(gainOnePoundPerMonth(maintain));
           var proteinMarco =  parseInt(document.getElementById("protein").value)/100;
          var carbMarco = parseInt(document.getElementById("carb").value)/100;
          var fatMarco = parseInt(document.getElementById("fat").value)/100;
          var proteinCal = parseInt((cal*proteinMarco)/numberOfMeal);
          var carbCal = parseInt((cal*carbMarco)/numberOfMeal);
          var fatCal = parseInt((cal*fatMarco)/numberOfMeal);
          var chicken = parseInt(proteinCal*(113/187));
          var broccoli = parseInt((carbCal*0.3)*(100/34)); 
          var brownRice = parseInt((carbCal*0.7)*(100/111));
          var nuts = parseInt(fatCal*(100/533));
          document.getElementById("projectedResult").value = "gain";
          document.getElementById("caloriesperday").value =cal;
          document.getElementById("caloriespermeal").value = parseInt(cal/numberOfMeal);
          document.getElementById("mealperday").value = numberOfMeal;
          document.getElementById("proteinPerMeal").value = parseInt (((cal*proteinMarco)/4)/numberOfMeal) + "g";
          document.getElementById("carbPerMeal").value = parseInt (((cal*carbMarco)/4)/numberOfMeal) + "g";
          document.getElementById("fatPerMeal").value = parseInt (((cal*fatMarco)/9)/numberOfMeal) + "g";
           document.getElementById("proteinsource").value = chicken + "g";
          document.getElementById("vegsource").value = broccoli + "g";
          document.getElementById("carbsource").value = brownRice + "g";
          document.getElementById("fatsource").value = nuts + "g";
          document.getElementById("poundsPerWeek").value = 0.25;
          document.getElementById("poundsPerMonth").value = 1;
          document.getElementById("poundsPerYear").value = 12;
          document.getElementById("kgPerWeek").value =0.11;
          document.getElementById("kgPerMonth").value = 0.44;
          document.getElementById("kgPerYear").value = 5.28;
      }
      if (goal == "Gaintwo"){
          var cal = parseInt(gainTwoPoundPerMonth(maintain));
           var proteinMarco =  parseInt(document.getElementById("protein").value)/100;
          var carbMarco = parseInt(document.getElementById("carb").value)/100;
          var fatMarco = parseInt(document.getElementById("fat").value)/100;
          var proteinCal = parseInt((cal*proteinMarco)/numberOfMeal);
          var carbCal = parseInt((cal*carbMarco)/numberOfMeal);
          var fatCal = parseInt((cal*fatMarco)/numberOfMeal);
          var chicken = parseInt(proteinCal*(113/187));
          var broccoli = parseInt((carbCal*0.3)*(100/34)); 
          var brownRice = parseInt((carbCal*0.7)*(100/111));
          var nuts = parseInt(fatCal*(100/533));
          document.getElementById("projectedResult").value = "gain";
          document.getElementById("caloriesperday").value = cal;
          document.getElementById("caloriespermeal").value = parseInt(cal/numberOfMeal);
          document.getElementById("mealperday").value = numberOfMeal;
          document.getElementById("proteinPerMeal").value = parseInt (((cal*proteinMarco)/4)/numberOfMeal) + "g";
          document.getElementById("carbPerMeal").value = parseInt (((cal*carbMarco)/4)/numberOfMeal) + "g";
          document.getElementById("fatPerMeal").value = parseInt (((cal*fatMarco)/9)/numberOfMeal) + "g";
           document.getElementById("proteinsource").value = chicken + "g";
          document.getElementById("vegsource").value = broccoli + "g";
          document.getElementById("carbsource").value = brownRice + "g";
          document.getElementById("fatsource").value = nuts + "g";
          document.getElementById("poundsPerWeek").value = 0.5;
          document.getElementById("poundsPerMonth").value = 2;
          document.getElementById("poundsPerYear").value = 24;
          document.getElementById("kgPerWeek").value =0.22;
          document.getElementById("kgPerMonth").value = 0.88;
          document.getElementById("kgPerYear").value = 10.56;
      }
     }
    }
  }  
    </script>
    
    
    
    <br><br>
    
    <table width="98%" id="mealTable">
         <tr>
             <th>Nutrients in each meal</th>
             <th>Sample meal plan</th>
             
         </tr>
         <tr>
           <td>Calories per day: <input type='text' id="caloriesperday" readonly="true" size="5" /></td>
           <td>Grilled chicken breast: <input type='text' id="proteinsource" readonly="true" size="5" /></td>
         </tr>
         <tr>
             <td>Number of meals per day: <input type='text' id="mealperday" readonly="true" size="5" /></td> 
              <td>Steamed broccoli : <input type='text' id = "vegsource" readonly="true" size="5" /></td>
             
         </tr>
         <tr>
           <td>Calories per meal: <input type='text' id="caloriespermeal" readonly="true" size="5" /></td>
           <td>Steamed brown rice: <input type='text' id = "carbsource" readonly="true" size="5" /></td>
         </tr>
         <tr>
             <td>Proteins per meal: <input type='text' id="proteinPerMeal" readonly="true" size="5" /></td>
             <td>Cashews / Walnuts / Almonds: <input type='text' id="fatsource" readonly="true" size="5" /></td>
            
             
            
         </tr> 
          <tr>
             <td>Carbs per meal: <input type='text' id="carbPerMeal" readonly="true" size="5" /></td>
             <td></td>
            
         </tr>
          <tr>
             <td>Fats per meal: <input type='text' id="fatPerMeal" readonly="true" size="5" /></td>
             <td></td>
            
         </tr>

     </table>
  <br><br>
  
  <h7  style = " color: MediumPurple ; font-size: 25px; " >Projected Progress based on your goal</h7>
  <br><br>
  <p style = " color: MediumPurple ; font-size: 20px;" >You will <input type='text' id="projectedResult" readonly="true" size="7" /></p> 
    <br>
    <table id="progressTable">
         <tr>
             <th>Imperial</th>
             <th>Metric</th>
             <th>Time</th>
             
         </tr>
         <tr>
             <td><input type='text' id='poundsPerWeek' readonly="true" size="5" />pounds </td> 
             <td><input type='text' id='kgPerWeek' readonly="true" size="5" />kg</td>
             <td>per week</td>
         </tr>
         <tr>
             <td><input type='text' id='poundsPerMonth' readonly="true" size="5" />pounds </td>
             <td><input type='text' id='kgPerMonth' readonly="true" size="5" />kg</td>
             <td>per month</td>
            
         </tr> 
          <tr>
             <td><input type='text' id='poundsPerYear' readonly="true" size="5" />pounds </td>
             <td><input type='text' id='kgPerYear' readonly="true" size="5" />kg </td>
             <td>per year</td>
             
         </tr>
         

     </table>
  <br>
  <%= link_to 'Back', root_path, {:style=>'color:DarkRed ; font-size: 20px;', :class => "css_class"} %>
</body>

</body>