

<%= form_for(@body_info) do |f| %>
  <% if @body_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@body_info.errors.count, "error") %> prohibited this body_info from being saved:</h2>

      <ul>
      <% @body_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class = "field">
      <%= f.label :Username%> <br>
      <%= f.text_field :username, :value => current_user.name %>
  </div>




  <div class="field">
    <%= f.label :gender %><br>
    <%= f.radio_button:gender, 'Male'%> Male <br>
    <%= f.radio_button:gender, 'Female'%> Female <br>
  </div>
  
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
 
  <div class="field">
    <%= f.label :Height %><br>
    <%= f.number_field :cm %> cm or 
    <%= f.number_field :feet %> feet and 
    <%= f.number_field :inches %> inches
  </div>
 
  <div class="field">
    <%= f.label :Weight %><br>
    <%= f.number_field :kg %> kg or 
    <%= f.number_field :pound %> pound
  </div>

  <div class="actions">
      
      <%= f.submit 'Submit' %>
  </div>
<% end %>


