<p id="notice"><%= notice %></p>

<h1>Your Information</h1>

<!--<table>
  <thead>
    <tr>
      <th>Gender</th>
      <th>Cm</th>
      <th>Feet</th>
      <th>Inches</th>
      <th>Age</th>
      <th>Kg</th>
      <th>Pound</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody>
    <% @body_infos.each do |body_info| %>
      <tr>
        <!--<td><%= body_info.gender %></td>-->
        <!--<td><%= body_info.cm %></td>-->
        <!--<td><%= body_info.feet %></td>-->
        <!--<td><%= body_info.inches %></td>-->
        <!--<td><%= body_info.age %></td>-->
        <!--<td><%= body_info.kg %></td>-->
        <!--<td><%= body_info.pound %></td>-->
        <td><%= link_to 'Show', body_info %></td>
        <td><%= link_to 'Edit', edit_body_info_path(body_info) %></td>
       <td><%= link_to 'Destroy', body_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Body info', new_body_info_path %>-->
