<div class="container">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Username:</strong>
    <%= @body_info.username %>
  </p>
  
  
  <p>
    <strong>Gender:</strong>
    <%= @body_info.gender %>
  </p>
  
  <p>
    <strong>Cm:</strong>
    <%= @body_info.cm %>
  </p>
  
  <p>
    <strong>Feet:</strong>
    <%= @body_info.feet %>
  </p>
  
  <p>
    <strong>Inches:</strong>
    <%= @body_info.inches %>
  </p>
  
  <p>
    <strong>Age:</strong>
    <%= @body_info.age %>
  </p>
  
  <p>
    <strong>Kg:</strong>
    <%= @body_info.kg %>
  </p>
  
  <p>
    <strong>Pound:</strong>
    <%= @body_info.pound %>
  </p>
  
  
  <%= link_to 'Edit', edit_body_info_path(@body_info) %> |
  <%= link_to 'Back', caloriecalculator_path %>
</div>