// Place all the styles related to the calorie_calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Maintenance{
     width: 100%;
  height: 50px;
    background-color: MediumSeaGreen ;
}

#lose1lb{
     width: 100%;
  height: 50px;
    background-color: SkyBlue ;
}

#lose2lb{
     width: 100%;
  height: 50px;
    background-color: Salmon ;
}

#gain1lb{
     width: 100%;
  height: 50px;
    background-color: Maroon ;
}

#gain2lb {
     width: 100%;
  height: 50px;
  background-color: Indigo;
}

h1{
    color: CornflowerBlue; 
    font-size: 50px;
    padding: 20px;
}

p1,p2,p3,p4{
    color: FireBrick;
    font-size: 15px;
    padding: 30px;
}




#info{
    text-align: center;
}