@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
  color: #666;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.button {
  float:left;
  margin-right: 5px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #c0865e;
}
a:hover {
  color: #845534;
}

tr.lineColor:nth-child(even) {
    background-color: #cccccc;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

#logo {
float: left;
font-size: 40px;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
}

#logo:hover {
color: #fff;
text-decoration: none;
}

#title_style {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1em;
}

#title_style {
  color: #fff;
  text-decoration: none;
}