.navbar {
  background: #222;
  position: relative;
  z-index: 1000;
  a {
  color: #fff;}
}

.page-home .navbar {
  background: transparent;
}

.navbar a:hover {
  color: #c0865e;
}


.nav {
  float: right;
}
.nav  li {
  float: left;
}
.nav  li  a {
  display: block;
  font-size: 1.1em;
  line-height: 40px;
  padding: 5px 10px;
  margin: 15px 10px;
}
.nav  li  a:hover {
  color: #000;
  background: #fff;
}

.home-banner {
  height: 1500px;
  margin-top: -300px;
}

