h1.title
{
    font-size:200%;
    font-weight:bold;
}

body.plan
{
    background-color:#8a8281;
}

div.main
{
    margin-left:140px;
    margin-right:140px;
    background-color:white;
}

p.tip_1
{
    padding-top:20px;
    font-size:110%;
    background-color:lightblue;
    padding-bottom:20px;
    padding-left:10px;
}

div.plan_table
{
    border-style:double;
    border-color:white;
    background-color:#d2e1e6;
    border-radius:10px;
    padding:20px 10px 20px 10px;
	margin-left:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-top:20px;
    width:820px;
    height:auto;
}
td.plan_color{    background-color:#d2e1e6;
}
.plan_font
{
	margin-top:10px;
    font-weight:bold;
}

input.year
{
    width:70px;
    margin-bottom:30px;
}

input.month
{
    margin-left:10px;
    width:57px;
}

input.day
{
    margin-left:10px;
    width:57px;
}

input.event
{
    width:750px;
}

input.hour
{
    width:80px;
    margin-bottom:20px;
}

input.minute
{
    width:80px;
    margin-bottom:20px;
}

button.reset_button
{
    margin-top:10px;
    border-radius:5px;
    margin-left:500px;
}

button.delete_button
{
    border-radius:5px;
    margin-left:10px;
}

button.confirm_button
{
    border-radius:5px;
    margin-left:10px;
}
