<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fitness Plan</title>
    <link rel="stylesheet" href="plan.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>

    $(document).ready(function(){
        $(":reset").css("background-color", "red");
    });


   

    </script>

</head>

<body class="plan">


    <div class="main" id="main">
        <h1 class="title">
            Fitness Plan
        </h1>

        <p class="tip_1">
            For here, you can set your personal fitness plan freely. <br>
            Keep going!
        </p>


			<div id="plan_table" >
            <table id="plan_1" class="plan_font" style="width:100%">
             <tr>
             <th>Date</th>
             <th>From</th>
             <th>To</th>
             </tr>
              <tr>
                <td class="plan_color"> <input id="year1" type="number" placeholder ="2016" min="2016" step="1" class="year">
                <input id="month1" type="number" placeholder ="7" min="1" step="1" max="12" class="month">
                <input id="day1" type="number" placeholder ="31" min="1" step="1" max="31" class="day"></td>
                <td class="plan_color"><input id="hour1" type="number" placeholder ="15" min="0" step="1" max="23" class="hour">
                <input id="min1" type="number" placeholder ="32" min="0" step="1" max="59" class="minute"></td>
                <td class="plan_color"><input id="hour2" type="number" placeholder ="18" min="0" step="1" max="23" class="hour">
                <input id="min2" type="number" placeholder ="7" min="0" step="1" max="59" class="minute"></td>
              </tr>
              <tr >
                <td class="plan_color" colspan="3"> <input id="text1" type="text" placeholder= "edit your plan here!" class="event"></td>
              </tr>
              <tr>
                <td class="plan_color" colspan="3">
                  <button class="reset_button" onclick="reset_function()">Reset</button>
                <button class="delete_button" onclick="delete_function()">Delete</button>
                    <button class="confirm_button" onclick="confirm_function()">Confirm</button></td>
              </tr>
            </table>
			</div>




        <p>
            <button onclick="add_new()">Add New Plan</button>
        </p>
    </div>

</body>


</html>
