<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Healthy life</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body class="<%= params[:controller] + '-' + params[:action] %>">
  <div class="navbar clearfix">
    <div class="container">

        <%= link_to "Healthy life", root_path, id:"title_style" %>

      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>

        <% if current_user %>
          <% if current_user.admin? %>
            <li><%= link_to "Users", admin_path %></li>
          <% end %>
          
          <li><%= link_to "Calorie Calculator",  caloriecalculator_path %></li>
          <li><%= link_to "Schedule", events_path %></li>
          <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Signup", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>
  
</body>
</html>